@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
   Font Family
*/
@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(ArchitectsDaughter-Regular.ttf) format("opentype");
}

@font-face {
  font-family: 'Xtreem Fat Demo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(XtreemFat_Demo.ttf) format("opentype");
}
/* 
   Swiper
*/
