@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
   Font Family
*/
@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(ArchitectsDaughter-Regular.ttf) format("opentype");
}

@font-face {
  font-family: 'Xtreem Fat Demo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(XtreemFat_Demo.ttf) format("opentype");
}

@font-face {
  font-family: 'Mulish Regular';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(Mulish-Regular.ttf) format("opentype");
}

/* 
   漂浮
*/
@keyframes switch {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* 
   按鈕
*/
.pinkBg {
    background-color: #FD6D03;
}
.intro-banner-vdo-play-btn{
    height:80px;
    width:80px;
    position:absolute;
/*    top:50%;
    left:50%;*/
    text-align:center;
/*    margin:-30px 0 0 -30px;*/
    border-radius:100px;
    z-index:1
}